<div class="col-12 col-md-12 title">
    <h1>Forecast</h1>
</div>
<div class="col-12 col-md-9">
    <div class="jumbotron">
        <div><small><a href="#/"><i class="fa fa-arrow-left"></i> Back to Home</a></small></div>
        <h1>{{ cityText }}!</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item" ng-class="{'active': days == 3}">
                <a href="#/forecast/3" class="nav-link">3 days</a>
            </li>
            <li class="nav-item" ng-class="{'active': days == 5}">
                <a href="#/forecast/5" class="nav-link">5 days</a>
            </li>
            <li class="nav-item" ng-class="{'active': days == 7}">
                <a href="#/forecast/7" class="nav-link">7 days</a>
            </li>
            <li class="nav-item" ng-class="{'active': days == 10}">
                <a href="#/forecast/10" class="nav-link">10 days</a>
            </li>
        </ul>
        <div class="weather-results">
            <div ng-repeat="w in weatherResult.list" class="weather-result">
                <h3><strong>{{ convertToDate(w.dt) | date: 'MMM d, y' }}</strong></h3>
                <p>Daytime tempurature: <span class="weather-result-temp">{{ convertToFahrenheit(w.temp.day) }}&deg;</span></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-lg-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <!--/span-->
        <div class="col-6 col-lg-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <!--/span-->
        <div class="col-6 col-lg-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <!--/span-->
        <div class="col-6 col-lg-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <!--/span-->
        <div class="col-6 col-lg-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <!--/span-->
        <div class="col-6 col-lg-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <!--/span-->
    </div>
    <!--/row-->
</div>

<div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
        <a href="#/forecast/3" class="list-group-item" ng-class="{'active': days == 3}">3 days</a>
        <a href="#/forecast/5" class="list-group-item" ng-class="{'active': days == 5}">5 days</a>
        <a href="#/forecast/7" class="list-group-item" ng-class="{'active': days == 7}">7 days</a>
        <a href="#/forecast/10" class="list-group-item" ng-class="{'active': days == 10}">10 days</a>
    </div>
    <div class="well well-small">
        <p class="mute muted"><strong><i class="fa fa-sun-o"></i> Forecast by Location</strong></p>
        <form action="#/forecast/?">
            <div class="form-group">
                <input type="text" class="form-control" id="forecast-city" ng-model="city" />
            </div>
            <p><a class="btn btn-md btn-success" href="#/forecast/?" role="button">Get Forecast</a></p>
        </form>
    </div>
</div>